.active-users-list {
    left: auto;
    right: 0;
    padding: 0;
    min-width: 260px;
    max-width: 400px;
    overflow: hidden;
}
.active-users-list::-webkit-scrollbar {
  width: 2px;
  background: #EBEEF0;
}
.active-users-list::-webkit-scrollbar-track {
  background: #EBEEF0;
}
.active-users-list::-webkit-scrollbar-thumb {
  background: #C0C6CC;
  border-radius: 10px;
  max-height: 30px;
}
.active-users-list::-webkit-scrollbar-thumb:hover {
  background: #98A1A9;
}
html[dir="rtl"] .active-users-list {
    left: 0;
    right: auto;
}
.active-users-list-header,
.active-users-list-footer {
    background: #dddddd;
    border: inherit;
    border-left: 0;
    border-right: 0;
}
.active-users-list-header,
.active-users-footer-text {
    font-weight: 300;
    line-height: 1.2;
}
.active-users-list-header {
    padding: 10px;
    font-size: .9rem;
    border-top: 0;
}
html[dir="rtl"] .active-users-list-header {
    text-align: right;
}
.active-users-list-footer {
    display: flex;
    flex-direction : row;
    align-items: center;
    padding: 5px;
    min-width: 260px;
    max-width: 400px;
    border-bottom: 0;
}
.active-users-footer-text {
    flex-grow: 23;
    font-size: .8rem;
}
html[dir="rtl"] .active-users-footer-text {
    text-align: right;
}
.active-users-footer-icon {
    flex-grow: 1;
}
.active-users-footer-icon > a {
    display: block;
    text-align: right;
    text-decoration: none;
}
html[dir="rtl"] .active-users-footer-icon > a {
    text-align: left;
}

.active-users-footer-icon > a::hover {
    text-decoration: none;
    color: #000;
}
.active-users-list-body {
    width: 100%;
    max-height: 260px;
    overflow-y: auto;
}
.active-users-list-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
}
.active-users-list-loading-box {
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
	-o-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	-ms-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	-webkit-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	-moz-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	-o-animation: active-users-loader ease infinite 4.6s;
	-ms-animation: active-users-loader ease infinite 4.6s;
	-webkit-animation: active-users-loader ease infinite 4.6s;
	-moz-animation: active-users-loader ease infinite 4.6s;
	animation: active-users-loader ease infinite 4.6s;
}
@keyframes active-users-loader {
	0%,
	100% {
		box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	}
	25% {
		box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
	}
	50% {
		box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
	}
	75% {
		box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
	}
}
@-o-keyframes active-users-loader {
	0%,
	100% {
		-o-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
		box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	}
	25% {
		-o-box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
		box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
	}
	50% {
		-o-box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
		box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
	}
	75% {
		-o-box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
		box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
	}
}
@-ms-keyframes active-users-loader {
	0%,
	100% {
		-ms-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
		box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	}
	25% {
		-ms-box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
		box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
	}
	50% {
		-ms-box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
		box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
	}
	75% {
		-ms-box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
		box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
	}
}
@-webkit-keyframes active-users-loader {
	0%,
	100% {
		-webkit-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
		box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	}
	25% {
		-webkit-box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
		box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
	}
	50% {
		-webkit-box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
		box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
	}
	75% {
		-webkit-box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
		box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
	}
}
@-moz-keyframes active-users-loader {
	0%,
	100% {
		-moz-box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
		box-shadow: 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888;
	}
	25% {
		-moz-box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
		box-shadow: -15px 15px #888888, -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6;
	}
	50% {
		-moz-box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
		box-shadow: -15px -15px #d6d6d6, 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888;
	}
	75% {
		-moz-box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
		box-shadow: 15px -15px #888888, 15px 15px #d6d6d6, -15px 15px #888888, -15px -15px #d6d6d6;
	}
}
.active-users-list-item {
    display: flex;
    flex-direction : row;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #f6f6f6;
}
.active-users-list-item::last-child {
    border-bottom: 0;
}
.active-users-item-avatar {
    flex-grow: 2;
    text-align: center;
}
.active-users-item-avatar > .avatar {
    width: 26px;
    height: 26px;
}
.active-users-item-name {
    flex-grow: 22;
    margin-left: 10px;
    font-size: .8rem;
    text-align: left;
}
html[dir="rtl"] .active-users-item-name {
    text-align: right;
}